/dist/
node_modules/
tsconfig.tsbuildinfo
.idea
.DS_Store
src/**/*.js
src/**/*.js.map
**/coverage/
**/.nyc_output

# Salesforce
.codegenie/

# Heroku TPS TEMP
tpsGetLock_response.txt
tpsRecordRelease_response.txt
