name: Build
on:
  push:
    # Avoid duplicate builds on PRs.
    branches:
      - main
  pull_request:
permissions:
  contents: read
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        version: [22.x, 20.x, 18.x]
        os: [ubuntu-latest, macos-14-large, windows-latest]
    name: Node ${{ matrix.version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4 # java required for testing with wiremock
        with:
          java-package: jre
          java-version: "11"
          distribution: "zulu"
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
          cache: "yarn"
      - run: yarn install
      - run: yarn format:check
      - run: yarn lint
      - run: yarn test:coverage
      - run: yarn build
